[submodule "tools"]
	path = tools
	url = git@bitbucket.org:haefnerlab/tools.git
[submodule "vbmc"]
	path = vbmc
	url = https://github.com/lacerbi/vbmc
[submodule "bads"]
	path = bads
	url = git@github.com:lacerbi/bads.git
