[submodule "tools"]
	path = tools
	url = https://bitbucket.org/haefnerlab/tools
[submodule "vbmc"]
	path = vbmc
	url = https://github.com/lacerbi/vbmc
[submodule "bads"]
	path = bads
	url = https://github.com/lacerbi/bads
